<!DOCTYPE html>
<!-- saved from url=(0020)http://foodsense.is/ -->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>LATMov website | Its Best</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0">

<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/foodsense-combined">

<!-- CSS -->
<!--[if gte IE 7]><!-->
<link rel="stylesheet" media="screen" href="~/Content/screen.css">
<!--<![endif]-->
<!-- SCRIPTS -->
<script type="text/javascript" async="" src="~/Scripts/ga.js"></script>
<script type="text/javascript" src="~/Scripts/shn5sjh.js"></script>
<style type="text/css">
    .tk-ff-tisa-web-pro {
        font-family: "ff-tisa-web-pro",serif;
    }
</style><link rel="stylesheet" href="http://use.typekit.com/k/shn5sjh-d.css?3bb2a6e53c9684ffdc9a9bf51f5b2a62e77d9d6d2de4b3b4786eaae18dee33d115de4d09619182d275e90b521025efc9bb8cc2f5f41e95b81988b1ead67bc1b9858a79a225ff6f4b5d2e6a94880fa160c935b7b3328f431a949f7e50e39b1ad890b77ab9c2410d2ea84c774dea6dcacd485c92723b2c4b8f936c9b1d52d51a1411d457ec3f2eeb">
<script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!-- enable HTML5 elements in IE7+8 -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script src="/-/js/selectivizr.js"></script>
<![endif]-->
<script type="text/javascript" src="~/Scripts/jquery.cycle.min.js"></script>
<script type="text/javascript" src="~/Scripts/featured.js"></script>
<body id="home-page">
    <div id="wrap">
        <header>
            <h1 id="branding">Food Sense</h1>
            <nav>
                <ul id="nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>
        </header>
       
        <div id="content">
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required : false)
            <section id="featured">
                <div id="slides" style="position: relative;">

                    <section id="slide-1" class="alt" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0;">
                        <img src="~/Content/Images/coverPhoto_FeoLindoNoche.jpg" alt="Feo de dia lindo de noche">
                        <a href="http://foodsense.is/tastemakers">
                            <h1>What's Cooking? </h1>
                            <h2>Browse our gallery for dependably delicious recipes. </h2>
                        </a>
                        <p class="credit">photo by <a href="http://clarebarboza.com/">Clare Barboza</a></p>
                    </section>


                    <section id="slide-2" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 4; opacity: 0; width: 896px;">
                        <img src="./Food Sense_files/0219_foodsense.jpg" alt="Read, Learn, Share">
                        <a href="http://foodsense.is/blog">
                            <h1>Read, Learn, Share</h1>
                            <h2>Get daily how-tos, stories &amp; updates with the latest news. </h2>
                        </a>
                        <p class="credit">photo by <a href="http://clarebarboza.com/">Clare Barboza</a></p>
                    </section>

                    
                    @*<section id="slide-3" class="alt" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 1; width: 896px;">
                        <img src="./Food Sense_files/0052_foodsense.jpg" alt="Shop for the Best">
                        <a href="http://foodsense.is/a-list">
                            <h1>Shop for the Best</h1>
                            <h2>With our carefully curated vendor list, you'll know what to buy. </h2>
                        </a>
                        <p class="credit">photo by <a href="http://clarebarboza.com/">Clare Barboza</a></p>
                    </section>


                    <section id="slide-4" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1; opacity: 0;">
                        <img src="./Food Sense_files/0232_foodsense.jpg" alt="Share your Food Sense">
                        <a href="http://foodsense.is/contribute">
                            <h1>Share your Food Sense</h1>
                            <h2>Submit your favorite recipes, become a contributor, or get interviewed.</h2>
                        </a>
                        <p class="credit">photo by <a href="http://clarebarboza.com/">Clare Barboza</a></p>
                    </section>*@

                </div>

                <div id="nav">
                    <ul>
                        <li id="feature-1" class=""><a href="http://foodsense.is/tastemakers"><h3>Tastemakers</h3><p>Feast your eyes &amp; get recipes!</p></a></li>
                        <li id="feature-2" class=""><a href="http://foodsense.is/blog"><h3>Blog</h3><p>News, how-tos, stories, and more</p></a></li>
                        <li id="feature-3" class="activeSlide"><a href="http://foodsense.is/a-list"><h3>The A-List</h3><p>Handpicked, absolute favorites</p></a></li>
                        <li id="feature-4"><a href="http://foodsense.is/contribute"><h3>Contribute</h3><p>We want to hear from you!</p></a></li>
                    </ul>
                </div>


            </section>

            <section id="newsletter">
                <p>Sign up for our newsletter to receive a handpicked selection of the best stories, recipes, and news, delivered weekly to your inbox.</p>
                <form action="http://thevegpost.us2.list-manage1.com/subscribe/post?u=be2c472e2e43f8735d9666407&id=83098190d4" method="post" name="mc-embedded-subscribe-form">
                    <fieldset>
                        <label for="email" class="hide">Email</label>
                        <input type="email" id="email" name="EMAIL" placeholder="Email">
                    </fieldset>
                    <fieldset class="submit">
                        <input type="submit" value="Subscribe" name="subscribe">
                    </fieldset>
                </form>
            </section>

            <section id="recent" class="blog">


                <article>
                    <a href="http://foodsense.is/blog/2012s-best-summer-cookbooks"><img src="./Food Sense_files/cookbooks_blog.jpg" class="border" alt="image">		<h1>2012’s Best Summer Cookbooks</h1></a>
                    <p>With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection of 10 summer cookbooks.</p>
                    <p class="meta"><time datetime="2012-05-23T02:41-05:00" pubdate="">May 23, 2012</time> / <a href="http://foodsense.is/blog/2012s-best-summer-cookbooks">Read »</a></p>
                </article>



                <article>
                    <a href="http://foodsense.is/blog/how-to-make-vegetable-chips"><img src="./Food Sense_files/SweetPotatoChips.jpg" class="border" alt="image">		<h1>How to Make Vegetable Chips</h1></a>
                    <p>About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn, and before a very thoughtfully prepared vegan…</p>
                    <p class="meta"><time datetime="2012-05-17T08:35-05:00" pubdate="">May 17, 2012</time> / <a href="http://foodsense.is/blog/how-to-make-vegetable-chips">Read »</a></p>
                </article>



                <article>
                    <a href="http://foodsense.is/blog/were-on-pinterest"><img src="./Food Sense_files/Pinterest_Page_featured.png" class="border" alt="image">		<h1>Join us on Pinterest!</h1></a>
                    <p>If I could curate a cookbook for you, this would be it.</p>
                    <p class="meta"><time datetime="2012-05-16T09:59-05:00" pubdate="">May 16, 2012</time> / <a href="http://foodsense.is/blog/were-on-pinterest">Read »</a></p>
                </article>



                <article>
                    <a href="http://foodsense.is/blog/recipes-from-a-sunday-supper"><img src="./Food Sense_files/Adithi_Dinner_blog.jpg" class="border" alt="image">		<h1>Recipes from a Sunday Supper</h1></a>
                    <p>I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Sunday supper - eat them slowly, a little bit at…</p>
                    <p class="meta"><time datetime="2012-05-15T09:42-05:00" pubdate="">May 15, 2012</time> / <a href="http://foodsense.is/blog/recipes-from-a-sunday-supper">Read »</a></p>
                </article>
            </section>

        </div><!-- /#content -->
        <aside role="social">
            <section class="twitter">
                <h1>Latest Tweet</h1>

                <p><a href="http://twitter.com/getfoodsense" class="button">Join the Conversation</a></p>
            </section>
            <section class="facebook">
                <h1>Let's be friends!</h1>
                <p>For weekly finds, community recommendations, and more, like us on Facebook.</p>
                <p><a href="http://www.facebook.com/getfoodsense" class="button">Join the Community</a></p>
            </section>
        </aside><!-- /aside -->

        <footer role="siteinfo">
            <div class="social">
                <ul>
                    <li class="twitter"><a href="http://twitter.com">Twitter</a></li>
                    <li class="facebook"><a href="http://www.facebook.com">Facebook</a></li>
                </ul>
            </div>
        </footer>
    </div><!-- /#wrap -->
</body>